/* Start 3 Column Layout styles */

body {padding:0;color:#393736; font-family: ".SFNSDisplay-Regular", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Calibri", sans-serif !important; line-height: 1.35em !important;}

p {color:#393736;}

table.silvatable.grid {border:1px solid #ddd;}
table.silvatable.grid tbody tr {border-bottom:1px dotted #ddd;}
tr.rowheading td {border-bottom:1px solid #ddd;}

#left-silva-content h2, #rightcontent h2, .subcr h2, .subcl h2 { font-size:140%; }

#gallery-container .float, #gallery-container .image-float {margin:10px 20px 10px 0 !important;}
.ucl-image-box p, .image-container p {font-size:.9em; line-height:1em;}

#access {padding:0 15px;border-top:1px solid #212121;}
#normalView:hover, #hcView:hover {text-decoration:underline !important;}
#access p {margin:2px;}

#rightcontent.container {padding-top:19px;}

#col3_content table.silvatable {max-width:502px;}

.indexer thead th {border-bottom:1px solid #ccc;}
.indexer tbody td {border-bottom:1px dotted #ccc;}

ul.toc li ul.toc li, ul.disc li ul.disc li {border-bottom:none;margin-left:0;}
ul.toc, ul.disc {margin-left:0;}

#tabs ul, #tabs table, #tabs h3.heading, #tabs ul.nobullet li, #tabs p.p {margin-left:0;padding-left:0;line-height:1.2em;}

#tabs h3.heading {line-height:1em;margin-top:10px;}
#tabs ul.nobullet li {padding:3px 0px;}
td.align-left {vertical-align:top;}
#tabs .ui-corner-all {-moz-border-radius-bottomleft:0 !important;-moz-border-radius-bottomright:0 !important;}
.ui-state-active {background-color:#fff !important;}

#blog-items h4 {margin-top:15px;}

ul.nobullet li, ul.nobullet li:hover {background-color:#fff;border-bottom-color:#CFCBC3;color:#393736;}
#col3_content form h4 {color:#393736;}

.ui-accordion .ui-accordion-header a {padding-top:0.3em;padding-bottom:0.3em;font-size:.96em; font-family: ".SFNSDisplay-Regular", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Calibri", sans-serif !important;}
.ui-accordion .ui-accordion-content {font-family: ".SFNSDisplay-Regular", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Calibri", sans-serif !important;}
.ui-accordion-content{ zoom: 1; }
.ui-state-default, .ui-widget-content .ui-state-default {background-color:#f1f1f1;}

fieldset h4, fieldset table {margin-left:0 !important;}

table.silvatable.list tbody tr, table.silvatable.datagrid tbody tr, #col3_content form fieldset, .silvafind {background-color:#f1f1f1;}
table.silvatable.list tr.rowheading, table.silvatable.datagrid tr.rowheading, #col3_content form h4 {background-color:#e7e7e7;}

#podcasts ul {margin-left:0;}

.caption_image {padding:8px !important;text-align:left !important;border:1px solid #ccc !important;margin:0 15px 8px 0;}
.caption {font-size:90% !important; font-family: ".SFNSDisplay-Regular", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Calibri", sans-serif !important; text-align:left;margin-top:6px !important;}
.sub_caption {font-size:75% !important; font-family: ".SFNSDisplay-Regular", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Calibri", sans-serif !important; text-align:left;}

#gallery {
/* width:500px !important; */
/* _width: 420px  !important; IE 6 ONLY*/
background-color:#ccc;
}

#txthelp {padding:10px !important;
-moz-box-shadow:5px 5px 8px rgba(0, 0, 0, 0.35) !important;
-webkit-box-shadow:5px 5px 8px rgba(0, 0, 0, 0.35) !important;
border:1px solid #ccc !important;
}

ul#baluptonLightbox {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin-top:5px;
float:left;
}

ul#baluptonLightbox li {display:inline;}

ul#baluptonLightbox a {
background-color:#ECECEC;
border:1px solid #999999;
display:block;
float:left;
margin:5px;
padding:5px 5px 10px;
}

ul#baluptonLightbox a.lightbox-enabled img {
border:1px solid #fff;
}

ul#baluptonLightbox a:hover {
background-color:#FFFFFF;
border:1px solid #333333;
}

.ui-widget { font-family: ".SFNSDisplay-Regular", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Calibri", sans-serif !important; }

#accordion li, #accordion ul, #accordion ol, #tabs .ui-tabs-panel ul, .ui-widget p
{/*font-size: 0.93em;*/}

.ui-tabs-nav li a {font-size:.93em; font-family: ".SFNSDisplay-Regular", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Calibri", sans-serif !important;}

.ui-tabs .ui-tabs-nav li a {
		padding:0.5em 1em !important; 
		font-size:1em !important;
		line-height:1.5em !important;
		}

div#tabs, div#accordion {margin-bottom:15px;margin-top:15px;}

#newsticker ul {
background:#363434 url(../../images/tickerBG.png) repeat-x scroll left top !important;
border-bottom:none !important;
border-top:none !important;
font-size:1.1em !important;
margin:5px 0;
padding:5px 0;
}

#blog-items h4 {margin-bottom:5px;padding-bottom:2px;border-bottom:1px solid #ccc;}
.feed {margin-bottom:0 !important;}
#newsticker #news li a {color:#fff;}
#newsticker #news li a:hover {text-decoration:none;color:#fff;border-bottom:1px solid #fff;}

.overlay {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background: #222222 none repeat scroll 0 0;
background:rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
top:28px;
right:19px;
padding:10px 15px;
position:absolute;
width:215px;
display:block;
-moz-border-radius:4px 0px 0px 4px;
-webkit-border-top-right-radius:0px;
-webkit-border-bottom-right-radius:0px;
-webkit-border-top-left-radius:4px;
-webkit-border-bottom-left-radius:4px;
border-radius:4px 0px 0px 4px;
}

.overlay h1 {color:#fff;margin-bottom:0;}
.overlay h2 {color:#fff;font-size:1.4em;margin-left:0 !important;}

.sideBar {
border:1px solid #bbb;
-moz-border-radius:4px 4px 4px 4px;
-webkit-border-top-right-radius:4px;
-webkit-border-bottom-right-radius:4px;
-webkit-border-top-left-radius:4px;
-webkit-border-bottom-left-radius:4px;
border-radius:4px 4px 4px 4px;
background-color:#fff;
padding:10px 8px 6px 10px;
display:block;
text-align:center;
}

.sideBar h2 {font-size:1.33em;text-align:left;}
.sideBar p {line-height:1.25em;text-align:left;}

a {font-weight:bold;}
a:focus, a:hover, a:active {color:#111111;}
a:link, a:visited {color:#393736;}

h1, h2, h3, h4, h5, h6 { color:#393736; }
h2 { padding-top: 8px; padding-bottom: 8px; }
h3 {font-size:1.3em;}
h4.heading {font-size:1.2em;}
h5.heading {font-style:italic;}

#main {background:#f7f7f7 url(../../images/wht_rt.gif) repeat-y top right;}

#googlesearch .submit {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#060505 url(../../images/buttonBG.gif) repeat-x scroll left top;
border:1px solid #060505;
color:#FFFFFF;
cursor:pointer;
font-size:.85em;
font-weight:bold;
margin:0;
padding:1px 2px;
text-align:center !important;
text-transform:uppercase;
}

.equalize .c66l {padding:18px 0 18px 1px;}
.equalize .c33r {
padding-top:18px;
border-left:1px solid #eee;
_width/**/:/**/ 30%; /* IE 6 only */
}
.c33r .subcr h4 {font-size:1em;margin-bottom:8px;}
.c33r .subcr p, .c33l .subcl p, .c25l, .c25r {font-size:0.9em;margin-bottom:8px;}
.mod {margin:20px 19px 5px 0;font-size:.8em; font-family: ".SFNSDisplay-Regular", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Calibri", sans-serif !important; color:#999;clear:right;}
#social {margin-left:19px;margin-top:10px;text-align:right;clear:left;}
.subcr h4, .subcr p.p {margin-left:0 !important;}
.c33r h2, .leftcontainer h2, #rightcontent h2, .c38r h2, .c38l h2, .c25r h2, .c25l h2, .c33l h2 {font-size:140%;}


.hiliteButton a:hover, .standardButton a:hover, .hiliteButton a:link, .standardButton a:link, .hiliteButton a:visited, .standardButton a:visited, .hiliteButton a:active, .standardButton a:active {
text-decoration:none;color:#fff;line-height:1.1em;}

.hiliteButton, .standardButton {
display:block;
margin:0 0 12px 0;
padding:11px 6px 11px 24px;
font-weight:bold;
font-size:1.3em;
color:#fff;
-moz-border-radius:4px 4px 4px 4px;
-webkit-border-top-right-radius:4px;
-webkit-border-bottom-right-radius:4px;
-webkit-border-top-left-radius:4px;
-webkit-border-bottom-left-radius:4px;
border-radius:4px 4px 4px 4px;
}

.standardButton {background:#6f6f6f url(../../images/buttonLeftStandard.gif) no-repeat -10px 50%;}

/*#q {
border-color:#868686;
font:normal 15px helvetica, arial, sans-serif;
color:#444444;
vertical-align:middle;
padding:3px 2px 0px 2px;
margin:0;
width:151px;
}*/
#q, #query {
    display:inline;
    border: 1px solid #CCCCCC;
    color: #444444;
    font: 15px helvetica,arial,sans-serif;
    margin: 0;
    padding: 3px 2px 0;
    vertical-align: middle;
    width: 151px;
}


#col3 {
background-color:#fff;
/*
border-left:none;
border-right:none;
*/
margin:0 212px;
_margin/**/:/**/0 200px;
padding-top:0;
_overflow/**/:/**/ hidden !important;
/* margin-top: 30px !important; */
}
#col3_content {
padding:15px 15px 15px 15px;
margin-left:0px;
margin-right:0px;
_overflow/**/:/**/ hidden !important;
_padding-right/**/:/**/ 0 !important;
border-left: 1px dotted black;
box-sizing: content-box;
}

.logo {
  border: 1px dotted #d0d0d0;
}

.brand-container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.brand-logo {
  max-height: 20px;
  vertical-align: middle;
}

.brand-text {
  position: relative;
  top: 1px;
  left: 3px;
  font-size: 1.5em;
  font-weight: 600;
  color: #333333;
}

.brand-subtitle {
  padding-top: 4px;
  font-size: 1.2em;
  font-weight: 100;
}

#col2 {background-color:#fff;width:212px;
_width/**/:/**/ 190px;
}

#col2_content, #col1_content {padding:0;}

#col1_content {
padding:0 10px 10px 16px;
}

#col1 {
float:left;
width:212px;
_width/**/:/**/ 205px; /* IE 6 only */
padding:0 0 16px 0;
}

#footer {
border-top:15px solid #212121;
background-color:#fff;
padding:10px 0 0 0;
color:#333333;
}

#footer ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0 0 0 0;
}

#footer ul li {
border-right:1px solid #CCCCCC;
display:inline;
font-size:1.1em;
margin:0 5px 0 0;
padding:0 8px 0 0;
}

#footer a {color:#222222;}

#footer a:focus, #footer a:hover, #footer a:active {
color:#000000;
}

#footer ul, #footer div {
margin:0.5em 0;
padding:0 20px;
}

address {font-style:normal;}

.page {
/* border-left:none !important; */
background-image:none !important;
padding:0;
margin:0;
border-left: 1px dotted black;
border-right: 1px dotted black;
}

.page_margins {
width:964px !important;
max-width:964px !important;
min-width:964px !important;
}

.page_margins #border-bottom {
background-image:none !important;
font-size:0;
height:0;
margin-top:0;
width:auto;
}

#main {
/*   padding:0 0 0; */
}

.vlist, .leftcontainer .toc {border:none;margin-top:5px;overflow:visible;}

.leftcontainer ul.toc li:first-child {border:none;}

.leftcontainer .toc {margin-top:17px;}

.vlist li, .leftcontainer .toc li {
float:none;
width:100%;
_width/**/:/**/ 90%; /* IE 6 only*/
line-height:1.1em;
margin-bottom:3px;
list-style-type:none;
padding-left:20px;
border:none;
}

.leftcontainer .toc li {margin-left:0;}

.vlist li a:focus, .vlist li a:hover, .vlist li a:active, .leftcontainer .toc li a:focus, .leftcontainer .toc li a:hover, .leftcontainer .toc li a:active {
background-color:transparent;
color:#393736;
}

.vlist a, .vlist strong, .vlist span, .leftcontainer .toc a, .leftcontainer .toc strong, .leftcontainer .toc span {
border-bottom:none;
}

.vlist li a, .vlist li strong, .vlist li span, .leftcontainer .toc li a, .leftcontainer .toc li strong, .leftcontainer .toc li span {
padding-left:0;
width:100%;
_width/**/:/**/ 93%; /* IE 6 only*/
}

h6.vlist, h6.toc {
border:none;
padding-top:20px;
padding-left:0;
background-color:transparent;
font-size:1.26em;
width:100%;
_width/**/:/**/ 93%; /* IE 6 only*/
line-height:1.08em;
}

/* Nested (level 2) Left Nav */

.vlist li ul {padding-bottom:12px !important;}

.leftcontainer .toc li ul {padding-bottom:0;margin:5px 0;}

.vlist li ul li, .leftcontainer .toc li ul li {
background: transparent url() no-repeat scroll 0 2px;
margin:0;
padding:0 6px 4px 0;
width:90%;
}

.vlist li ul li a, .vlist li ul li strong, .vlist li ul li span, .leftcontainer .toc li ul li a, .leftcontainer .toc li ul li strong, .leftcontainer .toc li ul li span {padding:2px 0 0 0;}

.vlist li ul li a:focus, .vlist li ul li a:hover, .vlist li ul li a:active, .leftcontainer .toc li ul li a:focus, .leftcontainer .toc li ul li a:hover, .leftcontainer .toc li ul li a:active {
color:#393736;
font-weight:normal;
font-size:.96em;
background-color:transparent;
}

.vlist li ul li a:focus, .vlist li ul li a:hover, .vlist li ul li a:active, .vlist li ul li a:link, .vlist li ul li a:visited, .leftcontainer .toc li ul li a:focus, .leftcontainer .toc li ul li a:hover, .leftcontainer .toc li ul li a:active, .leftcontainer .toc li ul li a:link, .leftcontainer .toc li ul li a:visited {
background-color:transparent;
}

.vlist li ul li a, .vlist li ul li strong, .vlist li ul li span, .leftcontainer .toc li ul li a, .leftcontainer .toc li ul li strong, .leftcontainer .toc li ul li span {
padding-left:0;
width:100%;
font-weight:normal;
font-size:.96em;
background-color:transparent;
}

.vlist li ul li a, .vlist li ul li a:visited {
color:#555555;
}

/* Nested (level 3) Left Nav */
.vlist li ul li ul li a:focus, .vlist li ul li ul li a:hover, .vlist li ul li ul li a:active, .vlist li ul li ul li a:link, .vlist li ul li ul li a:visited, .leftcontainer .toc li ul li ul li a:focus, .leftcontainer .toc li ul li ul li a:hover, .leftcontainer .toc li ul li ul li a:active, .leftcontainer .toc li ul li ul li a:link, .leftcontainer .toc li ul li ul li a:visited {
background-color:transparent;
color:#393736;
display:block;
}

.vlist li ul li ul li a, .vlist li ul li ul li strong, .vlist li ul li ul li span, .leftcontainer .toc li ul li ul li a, .leftcontainer .toc li ul li ul li strong, .leftcontainer .toc li ul li ul li span {
padding-left:10px;
width:default;
display:block;
 }

.vlist li ul li ul, .leftcontainer .toc li ul li ul {display:block;padding-top:5px;}

.vlist li.active, .leftcontainer .toc li.active {
background-color:transparent;
color:#050505;
font-weight:bold;
}

ul.vlist li ul li ul li ul {display:none !important;}

.hlist
{height:1px;
vertical-align:middle;
    background-color: #c6c6c6;}

.hlist ul li a:link, .hlist ul li a:visited {
font:normal .96em helvetica,arial,sans-serif;
color:#ffffff;
}

.hlist ul li a:focus, .hlist ul li a:hover, .hlist ul li a:active {
text-decoration:underline;
font:normal .96em helvetica,arial,sans-serif;
color:#ffffff;
}

.hlist ul {padding-top:6px;width:74%;height:18px;}

.hlist ul li {float:none !important;padding:2px 2px 0 0 !important;}

#right-column {padding-bottom:15px;}

.newsbox {
display:block;
margin-top:15px;
border:1px solid #bbbbbb;
float:left;
}

#right-column h3 {
padding:10px 8px 0px 15px;
text-transform:uppercase;
font-size:1.4em;
}

.newslist {
list-style-image: none;
list-style-type: none;
margin-left:0;
margin-bottom:6px;
padding-left:0;
}

.articlelink, #blog-items a, .podcast-link a, .related-info p a {
	padding-left:12px;
	}

.articlelink a:hover {text-decoration:underline;}

.newsdate, .article-date {
font-weight:bold;
text-transform:uppercase;
}

.newsintro p.p {margin-bottom:0;}

.newsitem-thumbnail-even, .newsitem-thumbnail-odd {
	float:right;
	position:relative;
	top:-34px;
	margin-left:10px;
	}

.newsitem, .newsmorelink {
list-style-image: none;
list-style-type: none;
margin-top:8px;
margin-bottom:8px;
padding:8px 8px 0px 0;
line-height:1.1em;
border-top:1px dotted #bbbbbb;
float:left;
}

#col3_content .newsitem, #col3_content .newsmorelink {margin-left:0;padding-left:12px;width:95%;}

#col3_content .newsbox h3 {margin:6px 10px 4px 12px;}

.newsmorelink {
text-align:right;
padding-left:0;
_list-style-image/**/:/**/ none;
}

.newsiteminfo p.p  {font-size:85%;color:#777;margin-bottom:0.25em;}

td.selected_month {border:1px solid #666;}

.archivelink {text-align:right;padding-right:12px;margin-top:8px;clear:right;}
.viewlink {margin-top:4px 0;padding:4px 0;border-top:1px solid #ccc;}
.searchbox {margin-bottom:10px;}

.fontResizer a:hover {border-bottom:3px solid #bbbbbb;}
.fontResizer a {float:none;display:inline;padding:0px 2px;}

.textsize {
border-bottom:1px solid #dddddd;
background-color:#f7f7f7;
padding:5px;
text-align:center;
}

#col3_content form {border:1px solid rgba(204, 204, 204, 0);background-color:#f9f9f9;}

.curFont {
background:transparent none repeat scroll 0 0;
border:none;
border-bottom:3px solid #393736;
color:#111111;
}

a.curFont:link, a.curFont:visited {color:#111111;}

a.curFont:hover {border-bottom:3px solid #393736;}

#border-top {display:none;}

p.annotation {color:#999;}

#editbar {width:94%;}



/* End 3 Column Layout styles */

/* Start 2 Column Layout styles */

  /*Insert 2 col variations here*/

/* End 2 Column Layout styles */


/*Start Default INV branding*/

/*Additional styles below are added into ../patches/patch_altius_default_layout.css
/*.newsSmall p.photo img, .newsSmall p.photo object {width:100%;}*/


.newsLarge {
	border-top:1px solid #ccc;
	}
.newsSmall {
	width:212px;
	}
.newsLarge p {
	font:normal 11px Arial, Helvetica, sans-serif;
	margin:0;
	padding-bottom:7px;
	}

.entry h3 {
	font:bold 12px Arial, Helvetica, sans-serif;
	margin:0;
	padding:7px 0 3px 0;
	line-height:.95em;
	}
	
.invHead {border-bottom:1px solid #ccc;}
.invHead a {
	float:right;
	position:relative;
	right:0;
	top:4px;
	}
.invFoot {float:right;text-align:right;padding:7px 0 0;font-size:11px;}
.invFoot p {line-height:0.5em;}
.invFoot a:hover {text-decoration:underline;}

.newsLarge .invHead {padding:10px 10px 10px;}

.newsLarge .invHead h3 {margin:0;}
	
.newsSmall .invHead {padding:10px 10px 10px;}
	
.newsSmall .invHead h3 {margin:0;font:bold 16px Arial, Helvetica, sans-serif;text-transform:uppercase;padding:0 !important;}
	
.newsSmall .entry h3 {padding:10px 0 !important;width:169px;margin-left:40px;}
	
.entry a, .invFoot a, .cast-container a h4 {font-weight:bold;text-decoration:none;}
.entry {float:left;border-bottom:1px solid #ccc;width:100%;}

.newsLarge p.photo, .newsSmall p.photo {font-size:0;margin:0;padding:0;}

.newsSmall div.inv_thumbnail {
width:34px;
}

.newsSmall .entry h3 a {font-size:11px;display:block;margin-left:0;}

.newsSmall div.inv_thumbnail img  {
max-height:34px !important;
max-width:100%;
float:left;
}

div.entry:hover {background-color:#f4f4f4;}
.newsSmall div.entry:hover, .newsSmall div.entry:hover a, .newsSmall div.entry:hover a:hover {background-color:#f8f8f8;color:#333;}

.entry img {
	float:left;
	margin-right:10px;
	}
	
.newsSmall .entry img {margin-right:6px;}

.newsitemcontent img {float:right;margin-left:10px;margin-bottom:5px;}
.newsitemcontent img.default{float:none}

h2.newsitemheading {font-size:150%;padding-top:10px;line-height:1em;}
.newsitemcontent h3 {margin-top:5px;line-height:1.1em;}

.publicationdate, .eventdates, p.location, .newsiteminfopublicationdate {font-weight:bold !important;}
.datetime, span.location, .newsitemcreationdate, .newsitempublicationdate {font-weight:normal!important;color:#777 !important;}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {display:block;}
 
* html .clearfix {
	height: 1%;
}

.news-rss-feed {
float:right;
}
/*End Default INV branding*/

.two-column-layout #col3 {
	margin:0 0 0 212px;
    }
	
.cast-container {
	margin:0 0 16px 0 !important;
	border: 1px solid #ccc !important;
	padding:15px 15px 7px !important;
}

.podcast-link {margin:0 0 10px 0 !important;}

.default-profile-table {border:1px solid #777;}

.default-profile-table th {color:#fff;background-color:#777;}

.default-profile-table tbody td {padding:10px 5px 10px 10px;}

.default-profile-table th h4 {color:#fff;padding:5px 12px;margin:0;}

.default-profile-table td, .default-profile-table th {padding:0;}

.default-profile-table .profile-label {font-weight:bold;}

.default-profile-table .profile-row {padding:3px 0;border-bottom:1px dotted #ccc;margin:3px 0;}

.default-profile-table img {border:1px solid #eee;}


table.timetable {max-width:502px;}

table.timetable td, table.timetable th {padding:0.33em;}


.searchresults {margin-top:12px;}

.searchresults ul {margin-left:0;list-style:none;}

.searchresults ul li {
	margin:5px 0;
	padding:10px 0 5px 0;
	list-style:none;
	border-top:1px dotted #CFCBC3;
	}

.searchresults .searchresult-breadcrumb a {font-weight:normal;font-size:90%;}

.searchresults .searchresult-breadcrumb span {color:#777;}

.searchresults .searchresult-date {text-transform:uppercase;color:#777;font-size:90%;margin-left:10px;}

.searchresults .searchresult-counter {font-size:125%;font-weight:bold;color:#777;}
.searchresults .searchresult-link {font-size:125%;}

.searchresults .search-result-snippet-hilite {background-color:#ffff82;padding:0 2px;}

.searchresults .searchresult-nomatch {color:#900;font-weight:bold;}

.searchresults .searchresult-icon {padding:0;margin:0;}

.searchresults .searchresult-thumbnail {margin:4px 0;}

.searchresults .searchresult-thumbnail img {border:1px solid #eee;}

.searchresults .searchresult-ranking {float:right;font-size:90%;color:#777;font-weight:bold;}

.searchresults .searchresult-ranking img {display:none;}

.searchresults .searchresult-header {border-top:1px solid #eee;}

.sf-navbar a:hover {background:#444 !important}

.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color: #fff !important;}
	
.sf-menu a {border-top:	1px solid #fff !important;}

.sf-navbar li ul {max-width: 12em !important;}

.related-info {
	width:48%;
	max-width:48%;
	border:1px solid #ccc;
	padding:14px;
	margin-right:1em;
	margin-bottom:0.5em;
	background-color:#f9f9f9;
	-moz-border-radius:4px 4px 4px 4px;
	-webkit-border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-webkit-border-top-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	border-radius:4px 4px 4px 4px;
	}
	
	.related-info h2 {font-size:125%;border-bottom:1px solid #ccc;padding-bottom:6px;}
	
.ri-float-left {float:left;}
.ri-float-right {float:right;margin-left:1em;margin-right:0;}

div.image-right {float:right;margin-left:12px;}
div.image-left {float:left;margin-right:12px;}

ul.disc li p, ul.square li p, ul.circle p, ul.nobullet p, ol.decimal p {margin-bottom:0;}
ul.disc li:first-child, ul.toc li:first-child, #podcasts ul li:first-child, ul.disc li, ul.toc li, #podcasts ul li, ul.nobullet li {border:none;}

ul.square li {list-style-type:square;}
ul.circle li {list-style-type:circle;}
ul.nobullet li {padding:0;}
ol.decimal {list-style-position:outside;}
ol ol ol li {list-style-type:lower-roman;}


/* PRIMARY COLOUR */

#tabs h3.heading a,
.sideBar h2,
h6.vlist,
h6.toc,
.entry a,
.invFoot a,
.cast-container a h4,
.publicationdate,
.eventdates, p.location,
.newsiteminfopublicationdate,
.default-profile-table .profile-label,
.searchresults .searchresult-breadcrumb a,
.articlelink a, 
.articlelink a:hover, 
.articlelink a:active, 
.articlelink a:link, 
.articlelink a:focus,
.articlelink a:visited, #blog-items a,  
.podcast-link a, 
.related-info p a
{color:#93a445 !important;}

.newsbox 
{border-top:4px solid #93a445;}

.newsSmall
{border-top:4px solid #93A445;}

.sf-menu li,
.sf-navbar,
.sf-navbar li li,  
.sf-navbar li.sfHover,
.sf-navbar li li.current,
.sf-navbar a:focus,  
.sf-navbar a:active,
.sf-navbar li.current, .sf-navbar li:hover
{background:#93a445 !important;}

#main ul#uclnavbar{
background-color:transparent !important;
}

#ucl0128 
{background-color:#93a445;}

/* SECONDARY COLOUR */

.c33r .subcr h4,
.newsdate,
.article-date
{color:#ed174f;}

.hiliteButton {background:#ed174f url(../../images/buttonLeftHilite.gif) no-repeat -10px 50%;}

/* IMAGES */ 

ul.disc li, 
ul.toc li,
#podcasts ul li 
{background:transparent url(../../images/bullet_nocircle_green.gif) no-repeat scroll 5px 8px}

.articlelink, 
#blog-items a, 
.podcast-link a, 
.related-info p a 
{background:transparent url(../../images/bullet_nocircle_green.gif) no-repeat scroll 0 6px;}

.newslead a.articlelink,
#blog-items a,
.podcast-link a,
.related-info p a 
{background:transparent url(../../images/bullet_nocircle_green.gif) no-repeat scroll 0 3px;}

.vlist li, .leftcontainer .toc li
{background: transparent url(../../images/bullet_green.gif) no-repeat scroll 0 2px;}

.newsmorelink
{list-style: none inside url(../../images/bullet_nocircle_green.gif);}

.error, .newsmessage {
	background-color:#AA0000;
	color:#FFFFFF;
	padding:13px 19px;
	font-weight: bold;
	}
	
.newsmessage {padding:7px 9px;margin:3px 0;}
	
.success {background-color:#fff;padding:9px;}

/* Top indigo header styles */
#nav-wrap-indigo {
  position: relative;
  z-index: 100;
  min-width:964px;
}

#nav-wrap-indigo * { }

#nav-wrap-indigo #global-masthead {
  display: block;
}

#nav-wrap-indigo .wrapper {
  margin: 0 auto;
  max-width: 1400px;
  min-width:964px;
  width: 90%;
  position: relative;
}

#global-masthead {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  background-color: #444;
  color: #fff;
}

#global-masthead a {
  color: #fff;
  text-decoration: none; font-weight: normal;
}

#global-masthead ul {
  font-size: 16px;
  margin-top:10px;
}

#searchIndigo {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  color: #666;
  padding-left: 0;
}

#global-masthead {
  height: 45px;
}

#global-masthead li {
  display: inline;
  margin:0 33px 0 0;
}

#global-search {
  position: relative;
  padding: 6px 0 3px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 42%;
}

#global-search .search {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border:none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  left: 92%;
  width: 8%;
  height:30px;
  line-height: 1;
  margin:7px 0 3px 0;
  padding: 0.5em 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #4693ea;
  font-size: 12px;
  font-size: 1.2em;
  color:white;
}

#global-search .search:hover {
  background: #034da1;
}

#nav-wrap-indigo #searchform {
  background: url(../../images/search.png) no-repeat scroll 95% center;
  padding: 0;
  background-color: #fff;
  margin-top: 7px;
  margin-bottom: 7px;
  position: absolute;
  top: 0;
  left:40%;
  text-align: left;
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#nav-wrap-indigo #searchform input {
    vertical-align: middle;
    padding: 0.5em 2%;
    vertical-align: middle;
    margin: 0;
    -moz-box-sizing: border-box;
    max-height:30px;
  width: 85%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size:14px;
}

#nav-wrap-indigo #audiences {
  float: left;
  width: 55%;
  list-style: none;
  margin: 10px 0 0 0;
}
/* End top indigo header styles */


/* Horizontal Nav */

#topNav {clear:both;}

#topNav ul
{
padding: 0 0;
margin: 0;
list-style-type: none;
background-color: #444;
color: #f5f5f5;
width: 100%;
font: normal 1.2em arial, helvetica, sans-serif;
text-align: center;
height:25px;
overflow: hidden;
}

#topNav li { 
	display: inline;
	margin-left:0; 
	}
	
#topNav li:first-child a {border-left: 1px solid #777;}

#topNav li a
{
text-decoration: none;
background-color:transparent;
color: #f5f5f5;
padding: 5px 7px 5px 7px;
border-right: 1px solid #777;
}

#topNav li a:hover
{
background-color: #666;
color: #fff;
}



/* BOTTOM ALIGNED DIV inside container */

.bottom-container {
height:240px;
width:250px;
position:relative;
border:1px solid #000;
background:#f8f8f8 url(/silva/ucl-branding-demo/images/home_main) no-repeat top left;
-moz-border-radius:4px 4px 4px 4px;
-webkit-border-top-right-radius:4px;
-webkit-border-bottom-right-radius:4px;
-webkit-border-top-left-radius:4px;
-webkit-border-bottom-left-radius:4px;
border-radius:4px 4px 4px 4px;
}

div.bottom {
bottom:0;
position:absolute;
width:230px;
background:#333;
background:rgba(0,0,0,.5);
color:#fff !important;
padding:4px 10px;
}

.bottom h2 {padding:0;margin:0; font-family: ".SFNSDisplay-Regular", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Calibri", sans-serif !important; color:#fff !important;}

.bottom p {padding:0;margin:0; font-family: ".SFNSDisplay-Regular", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Calibri", sans-serif !important; color:#fff !important;}

blockquote { font-family: ".SFNSDisplay-Regular", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Calibri", sans-serif !important; }

.news-search-head {clear:left;}

.newsitemthumbnaillink img {margin-top:2em;}

div#printLogo {display:none;}

.underline{
text-decoration:underline;
}

/* Feedback form Syling*/

#feedback label, #feedback input{
padding-bottom:5px;
}

p.feedbackQuestion {
	padding:0 0.5em 0.4em 0 !important;
	border-bottom:none !important;
	}
	
select.feedback {margin-bottom:0.6em;}

/*Start Homepage Promo Box*/
#promo-nav-tabs {
}
#promo-nav-tabs ul{
padding: 0px;
margin: 0px 0px 11px 0px ;
}
#promo-nav-tabs li {
margin: 0px 0px 2px 0px;
padding: 0px;
display: inline;
list-style-type: none;
}
#promo-nav-tabs a{
padding: 9px 15px 9px 15px;
text-decoration: none;
text-transform: uppercase;
text-align: center;
border: 1px solid black;
border-left: 8px solid black;
margin-right: 3px !important;
margin-right: 3px;
}
#homepage-promo-box-container{
position:relative;
}
#main-promo-box-container {
float: left;
}
#main-promo-box-content {
border-top: 1px solid #ffffff;
border-radius:0px 0px 0px 4px;
-moz-border-radius:0 0 0 4px;
-webkit-border-radius: 0 0 0 4px;
}
#transparentbackground {
position: relative;
padding: 10px 20px 10px 20px;
min-height: 75px;
height: 75px;
overflow: hidden;
width: 100%
border: none;
background-color: #ffffff;
/* for IE */
filter:alpha(opacity=60);
/* CSS3 standard */
opacity:0.6;
}
#transparentbackground p.p{
font-weight: bold;
color:#000000;
}
#promo-sidebuttons {
float: right;
border-top: 1px solid #ffffff;
}
#promo-sidebuttons ul{
margin: 0px;
padding: 0px;
list-style-type: none;
}
#promo-sidebuttons ul li{
padding: 0px;
margin: 0px 0px 4px 4px;
list-style: none;
}
#promo-sidebuttons ul li a{
display:block;
width: 100%;
}
/*End Homepage Promo Box*/

/*Start Streaming Media Player CSS (left hand columns only)*/
#left-silva-content .jwmediaplayer{
	margin: 16px 0 16px 0;
    border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px 4px 4px 4px;
	-webkit-border-radius:4px 4px 4px 4px;
	background-color:#Ffffff;
	border:1px solid #CCCCCC;
	padding: 0px 8px 6px 8px;
	/*banner specific colour below*/
	border-top:4px solid #93A445;
}

#left-silva-content .jwmediaplayer h2{
	border-bottom:1px solid #CCCCCC;
	font: bold 16px Arial,Helvetica,sans-serif;
	padding-bottom:6px;
	padding-top:6px;
	padding-left: 10px;
	text-transform:uppercase;
}
/*End Streaming Media Player CSS*/

/* Start INV widget left hand columns only)*/
#left-silva-content .newsSmall {
	width: auto;
    border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px 4px 4px 4px;
	-webkit-border-radius:4px 4px 4px 4px;
	border:1px solid #CCCCCC;
	background-color:#Ffffff;
	padding: 0px 8px 6px 8px;
	margin-bottom: 16px;
	/*banner specific colour below*/
/*	border-top:4px solid #93A445;*/
}
#left-silva-content .newsSmall .entry h3 {
	margin-left:0px;
	width:auto;
}
/* End INV widget*/

/*  CS - 'Feature - Display content inside box in a Silva Document'  - Default*/
#col3_content .content-box, #rightcontent .content-box, #col3_content .ucl-search-widget, #rightcontent .ucl-search-widget{
/*
border-radius:4px 4px 4px 4px;
-moz-border-radius:4px 4px 4px 4px;
-webkit-border-radius:4px 4px 4px 4px;
*/
background-color:#F9F9F9;
border:1px solid #CCCCCC;
/* padding:0 8px 6px; */
margin:16px 0 16px 0;
/*banner specific colour below*/
/*border-top:4px solid #93A445;*/
}

.content-box-table {
  box-shadow: 0px 1px 2px #3c3c3c !important;
}

.content-box-header {
  background-color: #e8e8e8;
  padding: 10px;
}

.content-box-body {
  padding: 10px;
}

#col3_content .ucl-search-widget form{
	border: none;
	padding: 0px;
}
.ucl-search-widget form input.submit{
  background-color: #4D4D4D;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  cursor: pointer;
  /*padding: 0.33em;*/
  font-size: 0.85em;
  padding: 2px 3px;
}
/*.ucl-search-widget #funnelback-search{
    border-color: #868686;
    color: #444444;
    margin: 0;
    padding: 3px 2px 0;
}*/

#left-silva-content .content-box, #left-silva-content .ucl-search-widget{
border-radius:4px 4px 4px 4px;
-webkit-border-radius:4px 4px 4px 4px;
-moz-border-radius:4px 4px 4px 4px;
background-color:#ffffff;
border:1px solid #CCCCCC;
padding:0 8px 6px;
margin:16px 0 16px 0;
/*banner specific colour below*/
/*border-top:4px solid #93A445;*/
}
#col3_content .content-box h2, #left-silva-content .content-box h2, #rightcontent .content-box h2, #col3_content .ucl-search-widget h2, #left-silva-content .ucl-search-widget h2, #rightcontent .ucl-search-widget h2{
border-bottom:1px solid #CCCCCC;
font:bold 16px Arial,Helvetica,sans-serif;
padding-bottom:6px;
padding-left:10px;
padding-top:10px;
text-transform:uppercase;
}
/* CS - 'Feature - Display content inside box in a Silva Document' - Silva UCL RSS Feeder specific styles*/
.content-box.ucl-rss-feeder #blog-items .item_date, .content-box.ucl-rss-feeder #blog-items .feed{
display:none;
}
.content-box.ucl-rss-feeder #blog-items h4{
font-weight:normal;
font-size: 1em;
margin: 10px 0 3px 0px;
padding: 0px;
border: none;
}
.content-box.ucl-rss-feeder #blog-items a{
border-bottom:1px solid #CCCCCC;
display:block;
}
