/*start font resizer styles*/
.textsize {
	/*border-bottom: 1px dotted #8C8D85;*/
	display:block;
	/*text-align:center;*/
	float:right;
	font-family:sans-serif;
	margin:0;
	/*padding: 5px 0 5px 47px;*/
	padding: 5px 0 5px 5px;
	height: 16px;
}
.fontResizer { 
  /*display: block;
  position: absolute;
  top: 0; left: 0;*/
}
.fontResizer a { 
	display: block;
	float: left;
	width: 17px;
	height: 17px;
	text-align: center;
	/*border: 1px solid #ccc;*/
	line-height: 15px;
	color: #666;
	text-decoration: none;
}
.fontResizer a:hover { color: #000; text-decoration: none; }
.smallFont { font-size: 9px; }
.medFont { font-size: 13px; }
.largeFont { font-size: 15px; }
.curFont { background: #EEEEF7; border: 1px solid #ccc; }
/*end font resizer styles*/